.form-container {
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

    .form-title {
        h4 {
            font-size: 16px;
        }
    }
}