<div class="sidebar-container ">
    <div class="d-flex justify-content-between">
        <div class="title">
          
        </div>
        <div class="title">
            <img src="assets/svg/pp.svg" alt="menu" srcset="" />
        </div>
        <div class="close">
            <img src="assets/svg/close.svg" alt="menu" srcset="" (click)="closeSidebar()" />
        </div>

    </div>

    <ul class="sidebar-menu-container">
        <li>
            <img  src="assets/svg/home.svg" alt="" srcset="">
            Home
        </li>
        <li>
            <img  src="assets/svg/history.svg" alt="" srcset="">
            History
        </li>
        <li>
            <img  src="assets/svg/order.svg" alt="" srcset="">
            Order
        </li>
        <li>
            <img  src="assets/svg/address.svg" alt="" srcset="">
            Address
        </li>
        
    </ul>
</div>