<footer>
    <div class="d-flex justify-content-between mt-4 mb-4 footer-container" style="height: 31.919px;">
        <div>
            <img src="assets/svg/home.svg" alt="menu" srcset="" style="width: 30px;">
        </div>
        <div>
            <img src="assets/svg/bx_heart.svg" alt="menu" srcset="" style="width: 30px;">
        </div>
        <div >
            <img src="assets/svg/cart.svg" alt="menu" srcset="" style="width: 30px;">
        </div>
        <div >
            <img src="assets/svg/profile.svg" alt="menu" srcset="" style="width: 30px;">
        </div>
    </div>
  </footer>