.forgotPassword-container {
  font-family: "Dosis", sans-serif;
  .title {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
  }
  .desc {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    text-transform: capitalize;
    color: var(--Accent-body, #9ba4b0);
  }

  .form-container {
    small {
      color: var(--Primary, #00518b);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 106.667% */
      text-transform: capitalize;
      text-align: end;
      cursor: pointer;
      padding-bottom: 10px;
    }
  }
}

.success-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  img {
    position: absolute;
    left: 185px;
    top: 110px;
    transform: translate(-48%, 50%);
  }
  h1 {
    position: absolute;
    left: 185px;
    top: 250px;
    transform: translate(-48%, 100%);
  }
  h1 {
    position: absolute;
    left: 185px;
    top: 250px;
    transform: translate(-48%, 100%);
  }
  small {
    position: absolute;
    left: 185px;
    top: 350px;
    transform: translate(-48%, 100%);
    color: var(--Accent-body, #9ba4b0);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  button {
    position: absolute;
    left: 185px;
    padding: 10px;
    margin: 2px;
    top: 450px;
    transform: translate(-48%, 100%);
  }
}
