<ng-container *ngIf="forgotSteps == 1">
  <div class="container position-relative">
    <app-header [header]="3" [title]="''"></app-header>

    <div class="forgotPassword-container">
      <h1 class="title">Forget Password</h1>
      <div class="desc">
        Don't worry! It occurs. Please enter the email address linked with your
        account.
      </div>
      <div class="form-container row mt-4">
        <mat-form-field class="example-full-width">
          <mat-label>Email/Mobile Number</mat-label>
          <input matInput placeholder="Enter Email or Mobile number" />
        </mat-form-field>
        <div>
          <button class="btn btn-custom" type="submit" (click)="sendOtp()">Sent Otp</button>
          <div>
            Create An Account
            <a href="Javascript:void(0)">ResSend Otp</a>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-footer></app-footer> -->
    <!-- <app-site-details></app-site-details> -->
  </div>
</ng-container>

<ng-container *ngIf="forgotSteps == 2">
  <div class="container position-relative">
    <app-header [header]="3" [title]="''"></app-header>

    <div class="forgotPassword-container">
      <h1 class="title">OTP Verification</h1>
      <div class="desc">
        Enter the verification code we just sent on your email address.
      </div>
      <div class="form-container row mt-4">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="enter otp" />
        </mat-form-field>
        <div>
          <button class="btn btn-custom" type="submit" (click)="verifyOtp()">Verify</button>
          <div>
            Create An Account
            <a href="Javascript:void(0)">Sent Otp</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>



<ng-container *ngIf="forgotSteps == 3">
  <div class="container position-relative">
    <app-header [header]="3" [title]="''"></app-header>

    
  </div>
  <div class=" success-screen">
      <img src="assets/svg/successfull.svg" alt="menu" srcset="" />
      <h1>
        Successful!
      </h1>
      <small>
        You have successfully registered in our app and start working in ti.
      </small>
      <button class="btn btn-custom" type="submit" (click)="startShopping()">Start Shopping</button>
  </div>
</ng-container>