<!--Product title-->
<div class="d-flex justify-content-between product">
    <div class="product-title">
        <span >Best Sellers</span>
        <div class="caption">The Best Parfums Ever</div>
    </div>
    <div></div>
</div>

<!--Product Section-->
<div class="row product-section" (click)="viewProductDetails('1')">
    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume-1.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>
</div>


<div class="d-flex justify-content-between product mt-3">
    <div class="product-title">
        <span >Just Arrived</span>
        <div class="caption">The Best Parfums Ever</div>
    </div>
    <div></div>
</div>

<!--Product Section-->
<div class="row product-section">
    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume-1.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>

    <div class="card product-card col-xs-12 col-sm-6 col-md-4">
        <div class="card-text">
            BVLGARI Rose Goldea
            <div class="caption">50 ml</div>
        </div>
        <div class="product-img position-relative">
            <img src="assets/png/perfume.png" alt="perfumes" srcset="">
        </div>
        <div class="product-price position-relative">
            <span>
                $229.00
            </span>
        </div>
    </div>
</div>

<app-site-details></app-site-details>