<div class="container position-relative">
    <app-header
      [header]="3"
      [title]="''"
    ></app-header>
    
    <div class="login-container">
        <h1 class="title">Welcome Back!</h1>
        <div class="desc">
            Sign in and explore the best products, inspiration and community.
        </div>
        <div class="form-container row mt-4">
            <mat-form-field class="example-full-width ">
                <mat-label>Email/Mobile Number</mat-label>
                <input matInput placeholder="Enter Email or Mobile number">
              </mat-form-field>
              
              <mat-form-field class="example-full-width ">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter Email or Mobile number">
              </mat-form-field>
                <small class="float-right" (click)="forgotPassword()">Forgot Password ?</small>
              <div>
                <button class="btn btn-custom" type="submit" >Login</button>
                <div>
                    Create An Account
                    <a href="Javascript:void(0)" (click)="signup()">Sign up</a>
                </div>
              </div>
        </div>
    </div>
  
    <!-- <app-footer></app-footer> -->
    <!-- <app-site-details></app-site-details> -->
  </div>
  